<mat-card class="beer-profile-card">
    <mat-card-header>
        <div mat-card-avatar [ngClass]="avatarCssClasses"></div>
        <mat-card-title>{{beer.name}}</mat-card-title>
        <mat-card-subtitle>
            <mat-icon svgIcon="star_rate" *ngFor="let star of ratingStars"></mat-icon>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="beer-image" [src]="beer.picture">
    <mat-card-content>
        <p>Alcohol percentage: {{beer.alcoholPercentage}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <div>
            <button mat-button (click)="editBeerProfile()">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>            
        </div>
    </mat-card-actions>
</mat-card>